@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&display=swap");
.shadow-2 {
  box-shadow: 0 0 76px rgba(0, 0, 0, 0.07);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  color: #969598;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: #010101;
}

body {
  font-family: "Inter", sans-serif !important;
}

a {
  color: #2EA4FC;
  text-decoration: none !important;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #2EA4FC;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.landing-content h1 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #EC4899;
  padding: 50px 0;
}
.landing-content .theme-btn {
  background: #2EA4FC;
  color: #fff;
  border: 0;
  display: block;
  width: 60%;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 150px;
  text-decoration: none;
  text-align: center;
}
.landing-content .bg-pink {
  background-color: #EC4899;
}

input:focus {
  box-shadow: none !important;
}

.auth-wrap {
  /* Select me  */
  /* Im man woman  */
  /* Select me end  */
}
.auth-wrap .auth-title {
  font-size: 48px;
}
.auth-wrap .auth-input {
  background-color: #fff;
  border: 0;
  padding: 20px 50px;
  border-radius: 100px;
  width: 100%;
  box-shadow: 0px 0px 76px rgba(0, 0, 0, 0.07);
}
.auth-wrap .auth-form img {
  top: 19px;
  position: absolute;
  left: 25px;
}
.auth-wrap .auth-btn {
  background: #2EA4FC;
  color: #fff;
  border: 0;
  width: 60%;
  padding: 15px;
  border-radius: 100px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 3px 51px rgba(46, 164, 252, 0.52);
}
.auth-wrap label {
  color: #969598;
}
.auth-wrap .heading {
  text-align: center;
  font-size: 0.8em;
}
.auth-wrap .center-align {
  display: flex;
  justify-content: start;
  margin-left: -3px;
  margin-top: 10px;
}
.auth-wrap .center-align input[type=radio] {
  visibility: hidden;
  height: 0;
  width: 0;
}
.auth-wrap .label {
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: rgba(233, 9, 249, 0.3);
  color: #fff;
  transition: all 0.3s ease-out;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: 0;
}
.auth-wrap .label.man {
  font-size: 14px;
  background-color: #fff !important;
  border: 4px solid #fff;
  padding: 10px;
  background: #E1E6FF !important;
  border-radius: 80px;
  color: #17265C;
}
.auth-wrap input[type=radio]:checked + .label.man {
  border: 4px solid #2EA4FC;
  border-radius: 80px;
  padding: 10px;
  background: #E1E6FF !important;
  color: #17265C;
  font-size: 14px;
}
.auth-wrap .label.woman {
  background-color: #fff !important;
  border: 4px solid #fff;
  background: #FFE1F8 !important;
  border-radius: 80px;
  padding: 10px;
  color: #17265C;
  font-size: 14px;
}
.auth-wrap input[type=radio]:checked + .label.woman {
  font-size: 14px;
  border: 4px solid #EC4899;
  border-radius: 80px;
  background: #FFE1F8 !important;
  border-radius: 80px;
  padding: 10px;
}
.auth-wrap .auth-input input:focus {
  box-shadow: none;
}
.auth-wrap .label img {
  position: relative;
  margin: 5px 0;
}
.auth-wrap .blueBg {
  position: relative;
  display: block;
}
.auth-wrap .blueBg img {
  z-index: 1;
  left: 0;
  top: 0;
}
.auth-wrap .im-title {
  margin: 0 0 0 auto;
  font-size: 16px;
  font-weight: 500;
  color: #010101;
  margin-right: 20px;
}

.header-wrap a i {
  color: #A8AEBA;
  font-size: 30px;
}

.footer-bg {
  height: 100px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.footer-bg .footer-wrap {
  width: 93%;
  background-image: linear-gradient(to right, #EC018B, #FC6667);
}
.footer-bg .footer-wrap a i {
  font-size: 20px;
  color: #fff;
}
.footer-bg .footer-wrap .menu-item {
  background: transparent;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 100px;
}
.footer-bg .footer-wrap .menu-item.active {
  background-color: #fff !important;
}
.footer-bg .footer-wrap .menu-item.active i {
  color: #2EA4FC;
}

.main-content {
  margin-bottom: 120px;
}/*# sourceMappingURL=index.css.map */